html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 600px;
    min-height: 540px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 108px;
    width: 108px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card:hover {
    cursor: pointer;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;

}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.nomatch {
    background: orangered;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 660px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
    color: gold;
}

.invisibility {
    visibility: hidden;
}

.timer {
    display: block;
}

.score-panel .restart {
    display: block;
}

.restart:hover {
    cursor: pointer;
}

.modal {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff url('../img/geometry2.png');
    opacity: 1;
    visibility: hidden;
    text-align: center;
}

.modal__heading {
    text-transform: uppercase;
    font-family: 'Bungee Shade', cursive !important;
    font-weight: 100;
}

.visibility {
    visibility: visible;
}

.modal__inner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    display: table;
    overflow: hidden;
    color: #ffffff;
    font-size: 1.4rem;
    border-radius: .5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.modal__close {
    color: #ffffff;
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
}

.modal__close:hover {
    color: orangered;
    transform: scale(1.5);
}

.button-close {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem;
    display: inline-block;
    color: #ffffff;
    margin-bottom: 1rem;
    border: .1rem solid #ffffff;
    font-size: 1rem;
    letter-spacing: .4rem;
    width: 11rem;
    border-radius: .5rem;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-top: 100px;
}

.button-close:hover {
    background-color: #ffffff;
    border: .1rem solid #ffffff;
    cursor: pointer;
    color: black;
}

.freezing {
    pointer-events: none;
}

.disappear {
    display: none;
}

.button {
    font-size: 15px;
    background-color: #02ccba;
    border: .1rem solid;
    letter-spacing: .25rem;
    width: 14rem;
    height: 4rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    transform: scale(1.1);
    background-color: #aa7ecd;
}

.button:after {
    content: 'CLICK TO START';
}

.button:hover:after {
    content: 'GOOD LUCK!';
}

.instructions {
    font-family: 'Coming Soon', cursive;
    font-size: 20px;
}

.header {
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 3px;
}
